:root {
    --normal-gray: #BDBDBD;
    --dark-gray: #707070;
    --normal-blue: #74B6EE;
    --light-gray: #EFEFEF;
    --warm-black: #232121;
    --title-brown: #575555;
    --text-slide: #989898;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 6.25%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--light-gray);
}

header {
    width: 100vw;
    max-width: 100%;
    min-width: 320px;
    height: 94px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

header .header-logo-title {
    font-size: 18rem;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 25rem;
}

header .header-logo-title p {
    margin-top: 22px; 
    margin-left: 12px; 
    margin-right: 4px;
}

header .header-logo-title img {
    width: 47px;
    height: 41px;
    margin-top: 22px;
}

.hamburger-menu {
    position: relative;
    min-height: 15px;
}

.hamburger-menu input[type="checkbox"], .hamburger-menu .hamburger-menu-logo, .hamburger-menu .hamburger-menu-close-icon {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    margin-right: 5px;
    margin-top: 5px;
    width: 15px;
    height: 15px;
}

.hamburger-menu .hamburger-menu-logo, .hamburger-menu .hamburger-menu-close-icon {
    font-size: 15rem;
    pointer-events: none;
}

.hamburger-menu input[type="checkbox"] {
    opacity: 0;
}

.hamburger-menu nav {
    display: none;
}

.hamburger-menu li {
    list-style: none;
}

.hamburger-menu li a {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14rem;
    text-decoration: none;
    display: block;
    padding: 3px 20px;
    border-bottom: 2px solid white;
    max-width: 200px;
    background: var(--normal-blue);
    text-shadow: 1px 1px black;
}

.hamburger-menu input:checked ~ nav {
    display: block;
}

.hamburger-menu input:checked ~ .hamburger-menu-logo {
    display: none;
}

.hamburger-menu input:not(:checked) ~ .hamburger-menu-close-icon {
    display: none;
}

.main-first-landing-container {
    position: relative;
    width: 100vw;
    max-width: 100%;
    min-width: 320px;
    height: 522px;
    margin: 0 auto; 
}

.main-landing-image {
    width: 100%;
    min-width: 320px;
    height: 169px;
    background-image: url('https://images.unsplash.com/20/cambridge.JPG?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1030&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-landing-presentation-container {
    position: absolute;
    width: 302px;
    height: 353px;
    background-color: white;
    bottom: 35px; 
    left: calc(50% - 151px);
    border-bottom: 10px var(--dark-gray) solid;
}

.main-landing-presentation-container h1 {
    font-size: 24rem;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 27rem;
    color: var(--title-brown);
}

.main-landing-presentation-container p {
    font-size: 18rem;
    text-align: center;
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 22rem;
    color: var(--warm-black);
}

.main-landing-presentation-container button {
    position: absolute;
    width: 172px;
    height: 43px;
    left: calc(50% - 86px);
    background-color: var(--normal-blue);
    border: none;
    border-radius: 4px;
}

.main-landing-presentation-container button a {
    font-size: 18rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    margin: 0 auto;
}

.main-second-landing-container h2 {
    font-size: 24rem;
    text-align: center;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 27rem;
    color: var(--title-brown);
}

.main-second-landing-container .main-courses-title div {
    width: 108px;
    height: 6px;
    background-color: var(--text-slide);
    margin: 0 auto;
    margin-bottom: 20px;
}

.main-second-landing-container .courses-advantage {
    width: 100vw;
    max-width: 100%;
    height: 108px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px var(--warm-black) solid;
}

.courses-advantage img {
    width: 50px;
    height: 50px;
    margin-left: 35px;
    margin-top: 30px;
}

.courses-advantage p {
    font-size: 20rem;
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 24rem;
    color: var(--warm-black);
}

.courses-advantage-p {
    padding-top: 40px;
}

.courses-advantage-p2 {
    padding-top: 25px;
}

.main-second-landing-container .project-advantage {
    border-bottom: none;
}

.main-third-landing-container-image {
    width: 100vw;
    max-width: 100%;
    min-width: 320px;
    height: 94px;
    background-image: url('https://images.unsplash.com/photo-1606761568499-6d2451b23c66?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-third-landing-container-information {
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 30px;
}

.main-third-landing-container h2 {
    font-size: 24rem;
    margin-top: 30px;
    margin-bottom: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 27rem;
    color: var(--title-brown);
}

.main-third-landing-container-information div {
    width: 108px;
    height: 6px;
    background-color: var(--text-slide);
    margin-bottom: 25px;
}

.main-third-landing-container-information p {
    font-size: 18rem;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 28rem;
    color: var(--warm-black);
}

.main-third-landing-container-information button {
    width: 172px;
    height: 43px;
    background-color: var(--normal-blue);
    border-radius: 4px;
    border: none;
}

.main-third-landing-container-information button a {
    font-size: 18rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    margin: 0 auto;
}

/* About */

.main-welcome-image {
    position: relative;
    width: 100vw;
    max-width: 100%;
    min-width: 320px;
    height: 160px;
    background-image: url('https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-welcome-image div {
    width: 100vw;
    max-width: 100%;
    min-width: 320px;
    height: 160px;
    background-color: rgba(252, 252, 252, .7);
}

.main-welcome-image h2 {
    font-size: 24rem;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 27rem;
    color: var(--warm-black);
}

.main-welcome-image img {
    position: absolute;
    width: 60px;
    height: 30px;
    left: calc(50% - 30px);
}

.main-welcome h1 {
    font-size: 24rem;
    padding-top: 25px;
    padding-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 30rem;
    color: var(--warm-black);
}

.main-welcome-text {
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 25px;
}

.main-welcome-text div {
    width: 108px;
    height: 6px;
    background-color: var(--text-slide);
    margin-bottom: 25px;
}

.main-welcome-text p {
    font-size: 18rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 35rem;
    color: var(--warm-black);
}

.main-features-vision-img, .main-features-methodology-img, .main-features-mentors-img {
     width: 100vw;
     max-width: 100%;
     min-width: 320px;
     height: 170px;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     margin-bottom: 30px;
}

.main-features-vision-img {
    background-image: url('https://images.unsplash.com/photo-1519834785169-98be25ec3f84?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80'); 
}

.main-features-methodology-img {
    background-image: url('https://images.unsplash.com/photo-1574100004472-e536d3b6bacc?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80');
}

.main-features-mentors-img {
    background-image: url('https://images.unsplash.com/photo-1474631245212-32dc3c8310c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=924&q=80');
}

.main-features h2 {
    font-size: 24rem;
    padding-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 27rem;
    color: var(--warm-black);
}

.main-features p {
    font-size: 18rem;
    padding-bottom: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 35rem;
    color: var(--warm-black);
}

.main-features button {
    width: 172px;
    height: 43px;
    background-color: var(--normal-blue);
    border-radius: 4px;
    border: none;
    margin-bottom: 20px;
}

.main-features button a {
    font-size: 16rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    margin: 0 auto;
}

.main-features-vision-text, .main-features-methodology-text, .main-features-mentors-text {
    width: 80vw;
    max-height: 700px;
    margin: 0 auto;
}

.main-features-vision-text div, .main-features-methodology-text div, .main-features-mentors-text div {
    width: 108px;
    height: 6px;
    background-color: var(--text-slide);
    margin-bottom: 25px;
}

/*mentoring*/

.body {
    background-color: white;
}

.header {
    background-color: var(--light-gray);
}

.main-mentoring {
    width: 80vw;
    margin: 0 auto;
    min-height: 370px;
    margin-bottom: 20px;
}

.main-mentoring h1 {
    font-size: 24rem;
    padding-top: 20px;
    padding-bottom: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 27rem;
    color: var(--warm-black);
}

.main-mentoring p {
    font-size: 20rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 35rem;
    color: var(--warm-black);
}

.main-courses-container {
    width: 80vw;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 25px;
    border-top: 1px var(--dark-gray) solid;
    border-bottom: 1px var(--dark-gray) solid;
}

.main-courses-container div {
    width: 80vw;
    max-width: 320px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
    border-radius: 4px;
}

.main-courses-container div h2 {
    font-size: 24rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 27rem;
    color: white;
}

.main-courses-container p {
    font-size: 16rem;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 30rem;
    color: var(--warm-black);
}

.main-courses-container .main-courses-container-sign {
    text-decoration: underline;
}

.main-courses-writing div {
    background: linear-gradient(to left, #662828, #E65959  50%, #662828, #E65959 50%);
}

.main-courses-math div {
    background: linear-gradient(to left, #161863, #3137E3  50%, #161863, #3137E3 50%);
}

.main-courses-data div {
    background: linear-gradient(to left, #5C2F1C, #DB7142  50%, #5C2F1C, #DB7142 50%);
}

.main-courses-web div {
    background: linear-gradient(to left, #2C4510, #7EC52D  50%, #2C4510, #7EC52D 50%);
}

.main-courses-desing div {
    background: linear-gradient(to left, #3C1C47, #A74EC7  50%, #3C1C47, #A74EC7 50%);
}

.main-courses-marketing div {
    background: linear-gradient(to left, #2D315E, #4E9AC7  50%, #2D315E, #4E9AC7 50%);
}

/*Projects*/

.main-quality-img {
    width: 100vw;
    max-width: 100%;
    min-width: 320px;
    height: 105px;
    background-image: url('https://images.unsplash.com/photo-1470378639897-89788e74b7bf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1054&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-quality {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 235px;
    background-color: var(--light-gray);
}

.main-quality-title {
    width: 282px;
    height: 126px;
    background-color: white;
    position: absolute;
    left: calc(50% - 141px);
    bottom: 45px;
    border-bottom: 10px var(--dark-gray) solid;
}

.main-quality-title h1 {
    font-size: 24rem;
    text-align: center;
    padding-top: 49px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 27rem;
    color: var(--dark-gray);
}

.main-projects {
    width: 80vw;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.main-projects h2 {
    font-size: 24rem;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 27rem;
    color: var(--warm-black);
}

.main-projects-bar {
    width: 108px;
    height: 6px;
    background-color: var(--text-slide);
    margin-bottom: 20px;
}

.main-projects-containers {
    width: 80vw;
    max-width: 340px;
    height: 200px;
    background-color: var(--light-gray);
    margin-bottom: 20px;
    border-bottom: 10px var(--dark-gray) solid;
}

.main-projects-containers img {
    width: 80vw;
    max-width: 340px;
    height: 100px;
}

.main-projects-containers h3 {
    font-size: 18rem;
    margin-top: 15px;
    margin-left: 7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 27rem;
    color: var(--warm-black);
}

footer {
    width: 100vw;
    max-width: 100%;
    min-width: 320px;
    height: 400px;
    background-color: var(--dark-gray);
}

.footer-connect, .footer-contact {
    width: 80vw;
    margin: 0 auto;
}

footer h2 {
    font-size: 24rem;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 27rem;
    color: white;
}

.footer-connect-icons img {
    width: 40px;
    height: 40px;
    margin: 15px 3px;
}

footer p {
    font-size: 18rem;
    padding-bottom: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 22rem;
    color: white;
}

.footer-contact-information {
    display: flex;
    margin-bottom: 20px;
}

.footer-contact-information img {
    width: 30px;
    height: 30px;
    margin-right: 3px;
}

.footer-contact-information p {
    font-size: 16rem;
    padding: 5px
}